<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>ارسال ایمیل بازیابی</title>
</head>
<body>
    <div>
        <div style="font-family: sahel; text-align: center; " >
                <h3> تقاضای ریسیت رمز فرستاده شد</h3>
            <div>
            <p>اگر حساب کاربری با ایمیلی که وارد کرده اید وجود داشته باشد ، ما دستورالعمل های تنظیم رمز عبور خود را برای شما ایمیل کرده ایم. به زودی باید دریافت کنید.</p>
            
            <p>اگر ایمیلی دریافت نکردید ، لطفاً مطمئن شوید آدرسی را که با آن ثبت نام کرده اید وارد کرده و پوشه هرزنامه خود را بررسی کنید.</p>
            </div>
        </div>
    </div>
</body>
</html>